@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
:root {
  --strongCyan: #26c0ab;
  --veryDarkCyan: #00494d;
  --darkGrayishCyan: #5e7a7d;
  --grayishCyan: #7f9c9f;
  --lightGrayishCyan: #c5e4e7;
  --veryLightGrayishCyan: #f4fafa;
  --white: #ffffff;

  --error: #c04600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

body {
  background-color: var(--lightGrayishCyan);
  min-height: 100vh;
  display: grid;
  align-items: center;
}

.logo {
  justify-self: center;
  margin-block: 3rem;
}

.container {
  justify-self: center;
  background-color: var(--white);
  border-radius: 1.5rem;
  padding: 2rem 1rem;
}

.calculator {
  display: grid;
  gap: 1.5rem;
}

.field {
  display: grid;
  align-items: center;
  row-gap: 0.625rem;
  padding-inline: 1rem;
}

legend,
label {
  font-size: 1rem;
  color: var(--darkGrayishCyan);
}
legend {
  margin-bottom: 0.625rem;
}

/* INPUT TEXT */
input[type='text'] {
  min-width: 1rem;
  color: var(--veryDarkCyan);
  background-color: var(--veryLightGrayishCyan);
  font-size: 1.5rem;
  text-align: right;
  outline: transparent;
  border: 2px solid transparent;
  padding: 0.3125rem 1rem;
  border-radius: 0.3125rem;
}
input[type='text'] {
  background-repeat: no-repeat;
  background-size: 0.75rem;
  background-position-y: center;
  background-position-x: 1rem;
}
input[name='bill'] {
  background-image: url(../images/icon-dollar.svg);
}
input[name='people'] {
  background-image: url(../images/icon-person.svg);
}
input[type='text']:is(:hover, :focus) {
  cursor: pointer;
  border: 2px solid var(--strongCyan);
}

input[type='text']::placeholder {
  text-align: right;
  color: var(--darkGrayishCyan);
}

label[for='bill'],
label[for='pepole'] {
  grid-column: 1/2;
}
#err1,
#err3 {
  grid-column: 2/3;
}
input[name='bill'],
input[name='people'] {
  grid-column: 1/3;
}

/* INPUT RADIO */
.radio-grid {
  align-items: center;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  border: none;
}
.radio-grid > p {
  margin-top: -1rem;
  grid-column: 2/3;
}
.radio {
  font-size: 1.5rem;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
}
.radio-label {
  text-align: center;
  color: var(--white);
  background-color: var(--veryDarkCyan);
  margin: 0;
}
.radio-field {
  min-width: max-content;
}

input[type='radio'] {
  display: none;
}
input[type='radio']:checked + .radio-label {
  color: var(--veryDarkCyan);
  background-color: var(--strongCyan);
}
input[type='radio']:checked + .radio-label:is(:hover, :focus),
.radio-label:is(:hover, :focus) {
  cursor: pointer;
  outline: transparent;
  color: var(--veryDarkCyan);
  background-color: var(--lightGrayishCyan);
}

/* OUTPUT */
.output {
  display: grid;
  gap: 1.5rem;
  background-color: var(--veryDarkCyan);
  border-radius: 0.625rem;
  padding: 2rem 1.5rem;
}

.tip-amount,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output p {
  color: var(--white);
}
.output p:nth-child(even) {
  font-size: 2rem;
  color: var(--strongCyan);
}
.output span {
  display: block;
  color: var(--lightGrayishCyan);
  font-size: 0.8125rem;
  opacity: 0.5;
}

.btn {
  color: var(--veryDarkCyan);
  background-color: var(--strongCyan);
  font-size: 1.5rem;
  text-transform: uppercase;
  outline: transparent;
  border: transparent;
  border-radius: 0.3125rem;
  padding: 0.3125rem 0.625rem;
}

.btn:is(:hover, :focus) {
  cursor: pointer;
  background-color: var(--lightGrayishCyan);
}

/* ERROR MSG */
.error {
  color: var(--error);
  font-size: 0.75rem;
  text-align: right;
}
input.error,
input.error:is(:hover, :focus) {
  border-color: var(--error);
}

/* FOOTER */
.attribution {
  align-self: end;
}
.attribution p {
  color: var(--darkGrayishCyan);
  padding-block: 2rem 1rem;
  padding-inline: 1rem;
  font-size: 0.8125;
  text-align: center;
}
.attribution a:is(:link, :visited) {
  color: var(--veryDarkCyan);
  text-decoration: none;
}
.attribution a:is(:hover, :active) {
  text-decoration: underline;
}

@media screen and (min-width: 800px) {
  .container {
    padding-right: 2rem;
  }
  .calculator {
    max-width: 50rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .field {
    grid-column: 1/2;
  }
  .output {
    grid-column: 2/3;
    grid-row: 1/4;
  }
  .output p:nth-child(even) {
    font-size: 3rem;
  }
  .tip-amount,
  .total {
    margin-top: -1.5rem;
  }
  .total {
    align-self: start;
  }
  .btn {
    align-self: end;
  }
}
